* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, black, rgb(8, 8, 122));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    transform: scale(1.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.home {
    font-size: 24px;
    text-transform: uppercase;        /* estilização do home presente na navbar */
    letter-spacing: 4px;
    text-align: start;
    padding-left: 40px;
}

nav {
    display: flex;
    justify-content: space-between;              /* estilização da navbar */
    align-items: center;
    background-color: rgb(36, 13, 243);
    height: 70px;
}

.nav-list {
    list-style: none;      /* estilização dos itens da navbar */
    display: flex;
}

.nav-list li {                   /* estilização dos itens da navbar */
    letter-spacing: 3px;
    margin-left: 32px;
    padding-right: 40px;
}

.nav-list :hover {                                               /* estilização dos efeitos dos itens da navbar */
    opacity: 0.7;
    transform: scale(1.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main {
    background-color: rgba(49, 28, 240, 1);
    position: absolute;                                  /* estilização do card primcipal na tela index */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 70px;
    border-radius: 60px;
}

.main2 {
    background-color: rgba(49, 28, 240, 1);              /* estilização do card primcipal na tela sobre*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 70px;
    border-radius: 60px;
}

.btn-vero {
    background-color: rgb(36, 35, 35);
    color: #fff;                                        /* estilização do botao do veronezi na tela index*/
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(36, 35, 35);
    width: 300px;
    margin-right: 20px;
}

.btn-vero2 {
    background-color: rgb(36, 35, 35);                   /* estilização do botao do veronezi na tela sobre*/
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(36, 35, 35);
    width: 500px;
}

.btn-eriky {                                                  /* estilização do botao do eriky na tela index*/
    background-color: rgb(36, 35, 35);
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(36, 35, 35);
    width: 300px;
    margin-left: 20px;
}

.btn-eriky2 {
    background-color: rgb(36, 35, 35);                     /* estilização do botao do eriky na tela sobre*/
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(36, 35, 35);
    width: 500px;
}

.card{
    display: flex;                        /* estilização dos botaoes presente na div main*/
    justify-content: center;
}

.card2{
    display: flex;
    justify-content: center;               /* estilização dos botaoes presente na div main2*/
    flex-direction: column;
}

.overlay-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
    width: 150px;
    height: auto;
}
.disco {
    border-right: 50%;
    border-left: 50%;             
    border-radius: 80%;
    width: 40%;
    height: 40%;
    text-align: 10%;
}
.img {
    object-fit: cover;
    border: solid rgb(15, 24, 181);
    padding: 2px;
    border-right: 40%;
    border-left: 40%;                 /* estilização do formato da imagem*/
    border-radius: 70%;
    width: 30%;
    height: 30%;
    position: relative;
    margin-left: 50px;
}
.move {
    font-size: 50px;
    transform: translate(40px, 10px);
    right: 40px;
}

.container-musica{
    display: flex;
    justify-content: space-between;       /* estilização dos card de musica*/
} 

.musica {
    background-color: darkslateblue;        /* estilização dos card de musica*/
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 300px;
    width: 1100px;
    margin-right: 90px;
    margin-top: 140px;
}

.texto{ 
    text-align: center;            /* estilização dos textos nos card de musica*/
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.content {
    display: flex;                      /* estilização dos card de cada desenvovedor  */
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.cardimg {
    background: rgb(27, 27, 27);
    border-radius: 20px;
    width: 600px;
}

.cardimg2 {
    background: rgb(27, 27, 27);
    border-radius: 20px;
    width: 510px;
}


.mediacard {
    background: url(/img/foto-vero.jpeg);               
    height: 550px;
    width: 100%;
}

.mediacard2 {
    background: url(/img/foto.eriky.jpg);  
    height: 600px;
    width: 510px;
}

.title {
    color: white;
}

.secondtext {
    color: white;
}

.topcard {
    padding: 30px;
    padding-top: 10px;
}

.bottontext {
    color: white;
    margin: 15px;
}

.bottoncard {
    padding: 5px;
}

.sla {
    display: flex;
    justify-content: space-between;
}
