*{
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(43, 42, 42);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
    scale: 1.1;
}

.home{
font-size: 24px;
text-transform: uppercase;
letter-spacing: 4px;
text-align: start;
padding-left: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 13, 243);
    height: 70px;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    padding-right: 40px;
}

.main {
    background-color: rgb(36, 13, 243);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 150px;
    border-radius: 30px;
}

.btn-vero{
    background-color: rgb(36, 35, 35);
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(36, 35, 35);
}

.btn-eriky{
    background-color: rgb(36, 35, 35);
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(36, 35, 35);
}

